html {
  background-color: tomato;
}

#grid-container {
  display: grid;
  max-width: 40vw;
  max-height: 80vh;
  margin: 2% auto;
  grid-template-columns: repeat(16, 2.5VW);
  grid-template-rows: repeat(16, 5VH);
  background-color: #2196F3;
  border: rgb(167, 21, 147) solid;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: .5px solid rgba(0, 0, 0, 0.8);
}
.apple {
  background-color: rgb(151, 52, 143);
}