@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans&display=swap');

body{
  background-color: #ffc857;
}

header {
  font-family: 'Fredoka One';
  color: #043646;
}

p {
  margin: .5em;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  background: #ffffff;
  height: 2.5em;
  margin: 5px 0;
  padding: 5px 5px;
  border-radius: 5px;
  transition: 0.2s;
  cursor: pointer;
}

  .button-active-style {
    background-color: #177e89;
    color: white;
    box-shadow: 0 0 5px black;
}

  button:hover {
    transform: scale(1.05);
  }

.settings-title {
  font-family: 'Fredoka One';
  font-size: 1.5em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: dashed;
}

.game-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 85vh;
  border: solid red;
}

.grid-settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: dashed blue;
  margin-bottom: 5%;
}

.grid-settings-container button,
.color-settings-container button  {
  /* margin-top: 1em; */
}

.grid-settings-buttons {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}

.color-settings-container {
  border: dashed blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.color-settings-buttons {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}

#grid-container {
  display: grid;
  margin: auto auto;
  width: 95%;
  height: 300px;
  grid-template-columns: repeat(16, auto );
  grid-template-rows: repeat(16, auto);
  background-color: #e7e7e7;
  border: #578eff solid .5em;
}

.grid-item {
  background-color: #ffffff;
  border: .5px solid rgba(0, 0, 0, 0.8);
}

/* Media queries */
@media (min-width: 576px) {
  #grid-container {
    display: grid;
    margin: 0 auto;
    width: 95%;
    max-width: 700px;
    height: 500px;
    grid-template-columns: repeat(16, auto );
    grid-template-rows: repeat(16, auto);
    background-color: #e7e7e7;
    border: #578eff solid .5em;
  }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  .game-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    border: solid red;
  }

  #grid-container {
    display: grid;
    margin: 0 auto;
    width: 550px;
    height: 550px;
    grid-template-columns: repeat(16, auto );
    grid-template-rows: repeat(16, auto);
    background-color: #e7e7e7;
    border: #578eff solid .5em;
  }

  .grid-settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: dashed blue;
  }

  .color-settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: dashed blue;
    margin-top: 0;
  }

  .grid-settings-buttons {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .color-settings-buttons {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}


@media (min-width: 1200px) {
  .game-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    border: solid red;
  }

  #grid-container {
    max-width: auto;
    display: grid;
    margin: 0 2em;
    width: 60%;
    height: 60%;
    grid-template-columns: repeat(16, auto );
    grid-template-rows: repeat(16, auto);
    background-color: #e7e7e7;
    border: #578eff solid .5em;
  }

  .grid-settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: dashed blue;
  }

  .color-settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: dashed blue;
    margin-top: 0;
  }

  .grid-settings-buttons {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .color-settings-buttons {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}